<form [formGroup]="formForDevelopers" (ngSubmit)="send()" novalidate>
    <div class="form-group">
        <label>Ім'я</label>
        <input class="form-control" name="name" formControlName="developersName">

        <div class="alert-danger" *ngIf="formForDevelopers.controls['developersName'].invalid && formForDevelopers.controls['developersName'].touched">
            Поле ім'я не валідне
        </div>
    </div>

    <div class="form-group">
        <label>Прізвище</label>
        <input class="form-control" name="surname" formControlName="developersSurname">

        <div class="alert-danger" *ngIf="formForDevelopers.controls['developersSurname'].invalid && formForDevelopers.controls['developersSurname'].touched">
            Поле прізвище не валідне
        </div>
    </div>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="form-group">
        <label>Email</label>
        <input class="form-control" name="email" formControlName="developersEmail" #developEmail>

        <div class="alert-danger" *ngIf="formForDevelopers.controls['developersEmail'].invalid && formForDevelopers.controls['developersEmail'].touched && developEmail.value !== 'test@test.test'">
            Поле email не валідне
        </div>

        <div class="alert-danger" *ngIf="developEmail.value === 'test@test.test'">
            Цей емейл вже існує
        </div>
    </div>

    <div class="form-group">
        <label for="selectTehn">Choose a technology</label>
        <select name="selectTehn" class="form-control" [(ngModel)]="selectedObject" formControlName="selectTehnology" (change)="changeModelOfSelect(selectedObject)">
           <option *ngFor="let tehn of tehnologys" [ngValue]="tehn">
            {{tehn.name}}
           </option>
        </select>
    </div>

    <div class="form-group">
        <label for="test">Test</label>
        <select name="test" [attr.disabled]="!selectedObject ? 'disabled' : null">
            <option *ngFor="let ver of periodOptions" [value]="ver">{{ver}}</option>
        </select>
    </div>

    <div class="form-group">
        <button class="btn btn-default">
          Надіслати
      </button>
    </div>
</form>